#wrapper {
	margin: auto;
}
#caption_container svg, #caption_container text, #caption_container path {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	display: none;
	transition: none;
}
#caption_container svg {
	transform: translate(50%,50%);
}
#caption_container text, #caption_container path {
	paint-order: stroke;
}
#caption_container {
	line-height: 1;
	position: absolute;
	pointer-events: none;
	transform-origin: 0 0 0;
}
.Caption_Default { 
	border-color: black;
	border-width: 1px;
	position: absolute;
	bottom: 0;
}
