#wrapper {
	margin: auto;
}
#caption_container svg, #caption_container text, #caption_container path {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	display: none;
	transition: none;
}
#caption_container svg {
	transform: translate(50%,50%);
}
#caption_container text, #caption_container path {
	paint-order: stroke;
}
#caption_container {
	line-height: 1;
	position: absolute;
	pointer-events: none;
	transform-origin: 0 0 0;
}
.Caption_Default { 
	border-color: black;
	border-width: 1px;
	position: absolute;
	bottom: 0;
}
.b0 {	font-weight: normal;	}
.b1 {	font-weight: bold;	}
.b100 {	font-weight: 100;	}
.b200 {	font-weight: 200;	}
.b300 {	font-weight: 300;	}
.b400 {	font-weight: 400;	}
.b500 {	font-weight: 500;	}
.b600 {	font-weight: 600;	}
.b700 {	font-weight: 700;	}
.b800 {	font-weight: 800;	}
.b900 {	font-weight: 900;	}
