/* Font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* Standard shit */
html, body, p ,h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Main style */

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #111;
  overflow: hidden;
}

#overlay {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
  padding: 0.3em;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(13, 13, 13, 0.5);
}

.betanote {
  opacity: 0.5;
}

#overlay p {
  display: inline;
}

video#bgvid {
  display: block;
  min-height: 100vh;
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/* Links */

.directlink a, .directlink a:visited {
  color: #111;
  text-decoration: none;
  transition: color 0.15s;
}

.directlink a:hover {
  color: #e65100;
}

.link a {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #111;
  text-decoration: none;
  transition: color 0.15s;
}

.link a:hover {
  color: #e65100;
}

.link {
  list-style: none;
}

/* Controls */

.displayTopRight {
  position: fixed;
  padding: 15px;
  top: 10px;
  right: 0px;
  font-size: 26px;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
}

.controlsleft {
  position: fixed;
  padding: 15px;
  bottom: 0px;
  left: 0px;
}

.controlsright {
  position: fixed;
  padding: 15px;
  bottom: 0px;
  right: 0px;
}

/* Standard button thing */

.quadbutton {
  cursor: pointer;
  color: #fff;
  font-size: 18pt;
  padding: 3px;
  opacity: 0.2;
  transition: transform 45ms ease-in, opacity 50ms;
  user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.quadbutton:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.8;
}

.quadbutton:active {
  transform: scale(0.9, 0.9);
  opacity: 1;
}

#title {
  color: #555;
  font-size: 18pt;
}

#source {
  color: #555;
  font-size: 16pt;
}

#pause-button {
  margin-left: 5px;
}

/* Menu */

#menubutton {
  position: fixed;
  padding: 15px;
  top: 10px;
  left: 0px;
}

#closemenubutton {
  color: #111;
}

#site-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 540px;
  font-size: 14pt;
  max-width: 80%;
  max-height: 80vh;
  padding: 5px 15px 15px 10px;
  box-shadow: 0px 0px 5px #111;
  background-color: #fff;
  transition: opacity 0.2 ease-in-out, transform 0.25s;
  overflow: auto;
}

/* Hiding shit */

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  } to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  } to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.is-hidden {
  visibility: hidden;
}

.is-visible {
  opacity: 1;
  animation: appear 85ms;
  -webkit-animation: appear 85ms;
}

/* Tooltip */
#tooltip {
  position: fixed;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  bottom: 55px;
  background-color: #fff;
  box-shadow: 0px 0px 3px #111;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  max-width: 30%;
  font-size: 14pt;
}

/* Menu CSS */

#linkarea {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 10px;
  margin-left: 5px;
  border-left: solid 3px #ccc;
  color: #111;
  list-style: none;
}

.keybindings {
  margin: 10px 0 5px;
  color: #666; /* We watch Chinese cartoons, so 666 is lucky, right? */
}

.keycap {
  /* .__. */
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 2px;
}

.keybinds-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.keybinds-list li {
  margin-bottom: 10px;
}

.keybinds-list li:last-child {
  margin-bottom: 0px;
}

/* Extra progressbar stuff */

.progressbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 20px;
}

.progressbar:hover .progress {
  height: 10px;
}

.progress {
  position: absolute;
  width: 100%;
  height: 2px;
  transition: height 0.1s ease-out, width 0.4s linear, background-color 0.5s ease-out;
}

.progress:hover {
  background-color: rgba(13, 13, 13, 0.5);
}
