@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html {
	color: #191919;
	background-color: #E5E5E5;
	font-size: 14pt;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5em;
}

body {
	margin: 0;
}

a, a:visited {
	text-decoration: none;
	color: #E54B00;
	transition: color 0.2s;
}

a:hover {
	color: #E58B00;
}

header {
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0px 0px 2px #111;
	padding: 20px;
}

header * {
	display: inline;
	margin: 4px;
	white-space: nowrap;
}

header div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 820px;
	white-space: normal;
}

header h1 {
	margin: 0 8px 0 0;
}

main {
	margin-left: auto;
	margin-right: auto;
	max-width: 820px;
	padding: 20px;
}

main p {
	margin: 8px 0;
}

code {
	background-color: #242424;
	border-radius: 3px;
	color: white;
	font-size: 70%;
	line-height: 1.2em;
	margin: 1em 0;
	padding: 3px 6px;
	vertical-align: 0.25em;
	white-space: nowrap;
}

.block {
	display: block;
}

pre {
	margin: 0;
}

ul {
	list-style: none;
}
