@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html {
  color: #1d1d1d;
  background-color: #DDD;
  font-size: 16pt;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
}

code {
  background-color: #2d2d2d;
  line-height: 1.2em;
  color: #fff;
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 70%;
  display: inline-block;
  margin: 1em 0;
  vertical-align: 0.25em;
}

pre {
  margin: 0;
}

.prettyprint {
  display: block;
}

blockquote {
  color: #777;
  border: solid 0px #777;
  padding-left: 12px;
  border-left-width: 5px;
  font-size: 14pt;
}

p {
  margin: 8px;
}

a, a:visited {
  text-decoration: none;
  color: #e65100;
  transition: color 0.2s;
}

a:hover {
  color: #f57c00;
}

body {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
}

ul {
  list-style: none;
}
