#wrapper {
	margin: auto;
}
.subtitle_container {
	line-height: normal;
	position: absolute;
	pointer-events: none;
	transform-origin: 0 0 0;
}
.subtitle_container svg, .subtitle_container text, .subtitle_container path {
	position: absolute;
	top: 0;
	left: 0;
}
.subtitle_container svg {
	transform: translate(50%,50%);
}
.subtitle_container text, .subtitle_container path {
	paint-order: stroke;
}
.subtitle_container mask path {
	fill: white;
}
.subtitle_Default {
	fill: white;
	filter: drop-shadow(0px 0px 1px black);
	font-size: 40px;
	stroke: black;
	stroke-width: 3px;
}
