<?php
$names = [ // These are not sorted, so this file should be created with them already in order.
	'Bakemonogatari' => [
		'Taiga Snake Opening b' => [ // Bakemonogatari's OP4b remade with Taiga from Toradora.
			'file' => 'Bakemonogatari-OP4bT-NCWEB',
			'mime' => ['video/mp4','video/webm;codecs="vp9,opus"'],
			'song' => [
				'title' => 'Ren\'ai Circulation (恋愛サーキュレーション)',
				'artist' => 'Taiga (Rie Kugimiya)'],
			'egg' => true // Easter Eggs are distinguished by having this property set,
			'gain' => 1.2 // Audio gain (dB) to apply, if not found it will be 0.
		]
	],
	'Nekomonogatari (Kuro): Tsubasa Family' => [
		'Opening 1' => [
			'file' => 'Nekomonogatari(Kuro)-OP01-NCBD',
			'mime' => ['video/mp4','video/webm;codecs="vp9,opus"'],
			'song' => [
				'title' => 'perfect slumbers',
				'artist' => 'Yui Horie'
			],
			'subtitles' => 'Commie'
		],
		'Ending 1' => [
			'file' => 'Nekomonogatari(Kuro)-ED01-NCBD',
			'mime' => ['video/webm;codecs="vp9,opus"','video/mp4'],
			'song' => [
				'title' => 'Fading Daydream (Kieru Daydream 消えるdaydream)',
				'artist' => 'Marina Kawano'
			]
		],
		'Ending 2' => [
			'file' => 'Nekomonogatari(Kuro)-ED02-NCBD',
			'mime' => ['video/mp4','video/webm;codecs="vp9,opus"'],
			'song' => [
				'title' => 'Fading Daydream (Kieru Daydream 消えるdaydream)',
				'artist' => 'Marina Kawano'
			]
		]
	]
];
?>
