
/* Font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* Standard shit */
html, body, p ,h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Main style */

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #111;
  overflow: hidden;
}

#overlay {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    padding: 0.3em;
    margin: 0;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(13, 13, 13, 0.5);
}

.betanote {
  color: #fff;
  position: fixed;
  bottom: 5px;
  padding: 3px;
  left: 5px;
  opacity: 0.15;
  font-size: 0.9em;
}

#overlay p{
  display: inline;
}

#backoverlay {
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;
    margin: .2em .5em;
    color: rgba(13, 13, 13, 1);
    position: fixed;
    left: 0;
    z-index: -101;
}

video#bgvid {
  display: block;
  min-height: 100vh;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: -100;
}

/* Links */

a, a:visited {
  color: #fff;
  text-decoration: underline;
  transition: color 0.15s;
}

a:hover {
  color: #e65100;
}

/* I need a better name for this ID */

#info {
  display: inline;
  position: absolute;
  right: 1em;
}

/* Play/Pause */

.play-btn, .pause-btn, .autonext, .dautonext {
  position: fixed;
  padding: 5px;
  color: #fff;
  bottom: 0px;
  right: 0px;
  width: 28px;
  height: 28px;
  opacity: 0.2;
  transition: transform 0.085s ease-in, opacity 0.05s;
}

.autonext, .dautonext {
  right: 28px;
}

.pause-btn:hover, .play-btn:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.pause-btn:active, .play-btn:active {
  transform: scale(0.8, 0.8);
  opacity: 1;
}

/* Here, have an easter egg kind of thing */

video#bgvid:active {
  -webkit-animation:spin 2.3s 1s infinite;
  -moz-animation:spin 2.3s 1s infinite;
  animation:spin 2.3s 1s infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
