/* Font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* Standard shit */
html, body, p ,h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Main style */

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #111;
  overflow: hidden;
}

#overlay {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    padding: 0.3em;
    margin: 0;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(13, 13, 13, 0.5);
}

.betanote {
  opacity: 0.5;
}

#overlay p{
  display: inline;
}

video#bgvid {
  display: block;
  min-height: 100vh;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: -100;
}

/* Links */

.directlink a, .directlink a:visited {
  color: #111;
  text-decoration: none;
  transition: color 0.15s;
}

.directlink a:hover {
  color: #e65100;
}

.directlink {
  margin-bottom: 10px;
}

/* Play/Pause */

.play-btn, .pause-btn {
  position: fixed;
  padding: 15px;
  color: #fff;
  bottom: 0px;
  right: 0px;
  font-size: 18pt;
  width: 22px;
  height: 22px;
  opacity: 0.2;
  transition: transform 0.085s ease-in, opacity 0.05s;
}

.pause-btn:hover, .play-btn:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.pause-btn:active, .play-btn:active {
  transform: scale(0.8, 0.8);
  opacity: 1;
}

/* Standard button thing */

.quadbutton {
  color: #fff;
  font-size: 18pt;
  width: 22px;
  height: 22px;
  opacity: 0.2;
  transition: transform 0.085s ease-in, opacity 0.05s;
}

.quadbutton:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.quadbutton:active {
  transform: scale(0.8, 0.8);
  opacity: 1;
}

.title {
  color: #555;
  font-size: 18pt;
}

.source {
  color: #555;
  font-size: 16pt;
  margin-bottom: 15px;
}

#menubutton {
  position: fixed;
  padding: 15px;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#closemenubutton {
  color: #111;
}

#site-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 540px;
  font-size: 14pt;
  max-width: 80%;
  padding: 5px;
  box-shadow: 0px 0px 2px #111;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: opacity 0.2 ease-in-out, transform 0.25s;
  z-index: 20;
}

.is-hidden {
  display: none;
  opacity: 0;
  transform: scale(0.5,0.5);
}

.is-visible {
  opacity: 1;
}

/* Menu CSS */

/* Here, have an easter egg kind of thing */

video#bgvid:active {
  -webkit-animation:spin 2.3s 1s infinite;
  -moz-animation:spin 2.3s 1s infinite;
  animation:spin 2.3s 1s infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
