html {background-color: rgba(0,0,0,0.55)}

html, a, a:visited, #searchbox {
	color: #EEE;
	border-color: #EEE;
}

#searchbox:focus, #regex span:hover {
	color: white;
	border-color: white;
}

a:hover {color: #F96}

.hublink {display: none}

#playlist > span {color: #222}
