@import url(https://fonts.googleapis.com/css?family=Ubuntu);

a, a:visited, .fa {
  text-decoration: none;
  color: #E54B00;
  transition: color 0.2s;
}

a:hover, .fa:hover {
  color: #E58B00;
}

body {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
}

div div {
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fa {
  cursor: pointer;
  font-size: 12pt;
  transition: transform 45ms ease-in;
}

.fa:active {
  transform: scale(0.9, 0.9);
}

.fa-check {
  color: #36CC00;
}

html {
  color: #000D0C;
  background-color: white;
  font-size: 14pt;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
}

#playlist {
  background-color: white;
  border-left-style: solid;
  border-right-style: solid;
  position: fixed;
  right: 0;
  top: 0;
}

#playlist * {
  margin: 0;
  padding: 0 1em;
  text-align: center;
}

#playlist p {
  border-bottom-style: solid;
}

#playlist span {
  max-width: 250px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#playlist i + span {
  display: inline-flex;
  padding: 0px;
  vertical-align: top;
}

.playlistTop, .playlistBot {
  background-color: #E54B00;
  border-top-style: solid;
  border-color: black;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.playlistBot span {
  cursor: pointer;
  transition: transform 45ms ease-in;
}

.playlistBot span:active {
  transform: scale(0.9, 0.9);
}

.playlistBot span:nth-child(2n) {
  border-left: thin solid;
  border-right: thin solid;
  padding: 0!important;
}

#box {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  height: 100%
}

#box textarea {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
    top: 10%;
    left: 10%;
  resize: none;
  width: 80%;
  height: 80%
}

#box p {
  text-align: center;
}

#box span {
  background-color: hsla(30, 100%, 48%, 0.85);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10%;
  padding: 0 0.5em;
  transition: transform 45ms ease-in;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#box span:active {
  transform: scale(0.9, 0.9);
}
